
/*
ul{
    display: flex;
    align-items:center;
    list-style-type: none;
    background-color: #c8dfee;
    height: 90px;
    flex-wrap: wrap;
}
#Home1{
    align-self: flex-start;
}
li{
    background-color: #6fabcf;
    padding: 15px;
    width: 125px;
    margin: 0 15px 0 0;
    padding: 5px;
    text-align: center; 
}
a{
    text-decoration: none;
    color: #000;
    display: block;
}
*/

main { display: flex;}
nav, aside { flex-basis: 25%; background-color: #c8dfee;}

section{ flex-basis: 50%;background-color: #6fabcf;}
